
<div class="card mt-4">
    <div class="card-body">
        <h1 class="display-4">BlackPeople 🚀</h1>
        <p class="lead">Somos un equipo de amigos que busca insertarse en la industria del sorftware. Estudiando y especializandonos en las últimas tecnologías y al servicio de tus ideas pretendemos realizar apps con la mejor calidad posible.</p>
    </div>
</div>
